@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #3b3b46;
    background-size: cover;
    background-image: url("../imagens/criptografia.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333; 
    padding: 10px 20px; 
    color: #fff; 
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.container {
    position: relative;
    width: 380px;
    height: 420px;
    border-radius: 8px;
    background-color:  #5A7088;
    border: none;
    
    
}


.container form {
    inset: 4px;
    border-radius: 8px;
    z-index: 2;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    color: #fff; 
    border: none;
}
h2 {
    color: white;
    font-weight: 500;
    text-align: center;
}


input {
    color: black;
    width: 100%;
    margin-top:30px;
    border-radius: 20px;
    height: 40px;
    padding: 15px;
    border: none;
    

}



form{
    align-self: center;
}
.links{
    display: flex; 
    justify-content: center;
    align-items: center; 
    gap: 5px; 
    margin-top: 10px; 
}

.links a {
    color: white;
    text-decoration: none; 
}

.links a:hover {
    text-decoration: underline; 
}

#entrar {
    background-color: #3b3b46;
    margin-top: 20px;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    align-items: center;
    text-align: center;
    display: inline-flex; 
    align-items: center;  
    justify-content: center; 
    text-align: center; 
    border: none;
    cursor: pointer; 
    line-height: -40px;
    

}

#entrar:hover {
    background-color: transparent;
    color: #00ffcb;
    box-shadow: 0 0 60 rgba(0, 255, 203, 0.5);
    border: 2px solid #00ffcb;
  }